button {
  width: 100%;
  height: 102px;
  font-size: 5em !important;
  background-color: #b8a99c;
  color: #746452;
  border: none;
}

.button-x {
  background-color: #eee1c9;
}

.button-o {
  background-color: #ede5da;
}
