body {
  background-color: rgb(250, 248, 239);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #776e65;
}

.text-center {
  text-align: center;
}

.fw-800 {
  font-weight: 800;
}
